body {
    padding: 0%;
    margin: 0%;
    border: 0px;
    background-color: #1976d2;
}

h1 {
    text-align: center;
}

#header {
    height: 10%;
    background: linear-gradient(#1976d2, #0d47a1);
}

div.inputContainer {
    width: 100%;
    background-color: #0d47a1;
}

input {
    margin-left: 22.5%;
    width: 40%;
    height: 5%; 
    display: inline-block; 
    font-size: 100%;
}

button {
    display: inline-block;
    width: 15%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 100%;
}

#mapContainer {
    background-color: #1976d2;
    display: inline-block;
    width: 70%;
    height: 50%;
    float: left;
}

#cityListContainer {
    background-color: #1976d2;
    display: inline-block;
    width: 30%;
    height: 50%;
    float: right;
    box-sizing: border-box;
    border-left: 5px solid #0d47a1;
}

#placeListContainer {
    background-color: #1976d2;
    width: 100%;
    height: 20%;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 5px solid #0d47a1;
}

#cityList {
    list-style-type: none;
}

#placeList {
    list-style-type: none;
}

#cityDataList {
    list-style-type: none;
}